[submodule "baseline-db"]
	path = baseline-db
	url = https://github.com/sambacha/baseline-db
[submodule "truenft"]
	path = truenft
	url = https://github.com/freight-trust/truenft
[submodule "attestation-api"]
	path = attestation-api
	url = https://github.com/freight-trust/attestation-api
